#top {
    /* background-color: black; */
    /* color: bisque; */
    text-align: center;
    display: block;
    margin: auto;
    width: 60%;
    
}
h1 {
    background-color: black;
    color: bisque;
    text-align: center
}


.boxside  {
    display:inline-block ;
    vertical-align: top;
    /* padding-top: 10px; */
    padding:10px 0 0 0;
    /* ^ top , right, bottom, left */
    width: 25%; 
    
}

.container {
    margin: auto; 
    width: 60%;
}

